{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			About
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{% static '/CSS/about.css' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
				<div class="container text-uppercase p-2">
					<a class="navbar-brand text-white font-weight-bold" href="#">Gyana Ranjan Mohanty</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto text-uppercase">
							<li class="nav-item">
								<a class="nav-link" href="/index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/contact.html">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/NewBlog.html">Write a Blog</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<section class="header-section">
				<div class="center-div">
					<h1 font-weight-bold>Want to know about me?</h1>
					<div class="header-buttons">
						<a href="#about-div">Click here</a>
					</div>
				</div>
			</section>
		</div>
		<br>
		<div class="container" id="about-div">
			<div class="row">
				<div class="col-md-3">
					<div class="card card-body h-100" id="profile-wrapper">
						<img src="{% static '/images/one.jpg' %}" id="profile-pic">
						<hr>
						<h4>Hi, I'm Ranjan!</h4>
						<p>I love coding, learning new technologies.</p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card card-body h-100">
						<h5>About me!</h5>
						<hr>
						<p><b>Profession:</b> Software Developer</p>
						<p><b>Qualification:</b> MCA</p>
						<p><b>Hometown:</b> Bhubaneswar</p>
						<p><b>State:</b> Odisha(India)</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<br>
				<div class="col-md-12">
					<div class="card card-body h-100">
						<p style="text-align: center;">
							I'm Ranjan pursued MCA in Bhubaneswar. I'm a full-stack developer; anyone needs help from me on web designing as well in Java & Python(django) can ask me,<br> I'll be there all the time to help you if I can. <br><br>
							Thank you.<br>Enjoy your day.
						</p>
					</div>
				</div>
			</div>
			<br>
		</div>
		<footer class="footer">
			<p>Copyright ©2020 All rights reserved | This site is made by BlogNCode</p>
			<div class="scrolltop float-right">
				<i class="fa fa-arrow-up" onclick="topFunction()" id="arrow-up"></i>
			</div>
		</footer>
		<script src="{% static '/JS/about.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>